section     { width: 100%; }
section + section { margin-top: 3rem; }




.dinnerideen { 
    border: 1px solid #ccc;
    box-shadow: 5px 10px 10px #ccc;
    margin-left: 0 !important;
}
.dinnerideen_link {
    font-family: "Merriweather", serif;
    font-size: 45px;
}
.dinnerideen_kurzinfo   {
    color: #c9c9c9;
}
.dinnerideen_grow:hover {
    transform: scale(1.05);
}
.dinnerideen_grow {
    transition: all .3s ease-in-out;
}



.filternav > nav > a {
    font-weight: 700;
    display: inline-block;
    padding: 10px;
}
.filternav > nav > a:hover {
    background: yellow;
}

.card-carousel  {
    gap: 40px 5%;
}
.card   {
    width: 30%;
    transition: opacity 1s ease-in-out;
    transition-delay: 0s;
}
.card > div {
    position: relative;  
}
.card, .carousel_kurzinfo {
    transition: all .5s ease-in-out;
}
.carousel_kurzinfo   {
    position: absolute;
    color: #c9c9c9;
    bottom: 0;
    width: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 1rem;
}
.card h4 {
    margin: 1rem 0;
    padding: 0 1rem;
}
.card:hover {
    transform: scale(1.05);
}
.card:hover .carousel_kurzinfo {
    opacity: 1;
}

@media only screen and (max-width: 991px) {
    .card   {
        width: 47%;
    }
    .card-carousel  {
        gap: 25px 6%;
    }
}
@media only screen and (max-width: 575px) {
    .card   {
        width: 100%;
    }
    .card-carousel  {
        gap: 40px;
    }
}