* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main, header, footer > div {
    margin: 0 auto;
    max-width: 1140px;
}
form { max-width: 400px; }
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: #646260;
}
h3 {
    font-weight: 700;
    text-transform: uppercase;
    color: #646260;
}
footer {
    background: #333;
    color: #eee;
    margin-top: 3rem;
    gap: 40px 5%;
}
footer > div > div { width: 100%; }
footer > div > div > div { padding-top: 40px; }


/* Overwrite Bootstrap */
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1140px;
  }

